# Abstract

This notebook opens up the Favorita dataset, loads it in, gets a few simple dataset metrics (count of products, stores, transaction events), looks at the time range and investigates the effect of the earthquake.

There's no inference and little plotting

# Prelude

## Configuration

In [1]:
DataSetPath = "/home/bryanfeeney/Dropbox/OttomanDiviner/datasets/favorita/"

StoresPath   = DataSetPath + "stores.csv.gz"
ItemsPath    = DataSetPath + "items.csv.gz"
OilPricePath = DataSetPath + "oil.csv.gz"
HolidaysPath = DataSetPath + "holidays_events.csv.gz"
Transactions = DataSetPath + "transactions.csv.gz"
TrainData    = DataSetPath + "train.csv.gz"

## Imports

In [2]:
import numpy as np
import scipy as sp
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

# DataSet Exploration

## Stores

In [3]:
stores = pd.read_csv(StoresPath, compression="gzip")

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
stores.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [6]:
stores.shape

(54, 5)

In [7]:
stores.state.value_counts()

Pichincha                         19
Guayas                            11
Manabi                             3
Azuay                              3
Santo Domingo de los Tsachilas     3
Cotopaxi                           2
Tungurahua                         2
El Oro                             2
Los Rios                           2
Pastaza                            1
Santa Elena                        1
Imbabura                           1
Chimborazo                         1
Esmeraldas                         1
Bolivar                            1
Loja                               1
Name: state, dtype: int64

In [8]:
stores.city.value_counts()

Quito            18
Guayaquil         8
Santo Domingo     3
Cuenca            3
Machala           2
Latacunga         2
Manta             2
Ambato            2
Guaranda          1
Quevedo           1
Playas            1
Loja              1
Esmeraldas        1
Salinas           1
El Carmen         1
Cayambe           1
Puyo              1
Babahoyo          1
Daule             1
Libertad          1
Ibarra            1
Riobamba          1
Name: city, dtype: int64

In [9]:
stores.type.value_counts()

D    18
C    15
A     9
B     8
E     4
Name: type, dtype: int64

In [10]:
stores.cluster.value_counts()

3     7
6     6
10    6
15    5
14    4
13    4
1     3
11    3
8     3
4     3
2     2
9     2
7     2
5     1
16    1
12    1
17    1
Name: cluster, dtype: int64

In [11]:
stores.groupby(['state', 'city']).count()

                                              store_nbr  type  cluster
state                          city
Azuay                          Cuenca                 3     3        3
Bolivar                        Guaranda               1     1        1
Chimborazo                     Riobamba               1     1        1
Cotopaxi                       Latacunga              2     2        2
El Oro                         Machala                2     2        2
Esmeraldas                     Esmeraldas             1     1        1
Guayas                         Daule                  1     1        1
                               Guayaquil              8     8        8
                               Libertad               1     1        1
                               Playas                 1     1        1
Imbabura                       Ibarra                 1     1        1
Loja                           Loja                   1     1        1
Los Rios                       Babahoyo               1     1        1
                               Quevedo                1     1        1
Manabi                         El Carmen              1     1        1
                               Manta                  2     2        2
Pastaza                        Puyo                   1     1        1
Pichincha                      Cayambe                1     1        1
                               Quito                 18    18       18
Santa Elena                    Salinas                1     1        1
Santo Domingo de los Tsachilas Santo Domingo          3     3        3
Tungurahua                     Ambato                 2     2        2

In [12]:
stores.groupby(['city', 'cluster']).count()

                       store_nbr  state  type
city          cluster
Ambato        9                1      1     1
              14               1      1     1
Babahoyo      10               1      1     1
Cayambe       6                1      1     1
Cuenca        2                2      2     2
              6                1      1     1
Daule         1                1      1     1
El Carmen     3                1      1     1
Esmeraldas    10               1      1     1
Guaranda      15               1      1     1
Guayaquil     1                1      1     1
              3                2      2     2
              6                1      1     1
              10               3      3     3
              17               1      1     1
Ibarra        15               1      1     1
Latacunga     15               2      2     2
Libertad      10               1      1     1
Loja          4                1      1     1
Machala       3                1      1     1
              4                1      1     1
Manta         11               1      1     1
              13               1      1     1
Playas        3                1      1     1
Puyo          7                1      1     1
Quevedo       3                1      1     1
Quito         5                1      1     1
              6                2      2     2
              8                3      3     3
              9                1      1     1
              11               2      2     2
              12               1      1     1
              13               3      3     3
              14               3      3     3
              15               1      1     1
              16               1      1     1
Riobamba      7                1      1     1
Salinas       1                1      1     1
Santo Domingo 3                1      1     1
              4                1      1     1
              6                1      1     1

## Items

In [13]:
items = pd.read_csv(ItemsPath, compression='gzip')

In [14]:
items.head()

   item_nbr        family  class  perishable
0     96995     GROCERY I   1093           0
1     99197     GROCERY I   1067           0
2    103501      CLEANING   3008           0
3    103520     GROCERY I   1028           0
4    103665  BREAD/BAKERY   2712           1

In [15]:
items.shape

(4100, 4)

In [16]:
items.family.value_counts()

GROCERY I                     1334
BEVERAGES                      613
CLEANING                       446
PRODUCE                        306
DAIRY                          242
PERSONAL CARE                  153
BREAD/BAKERY                   134
HOME CARE                      108
DELI                            91
MEATS                           84
HOME AND KITCHEN I              77
LIQUOR,WINE,BEER                73
FROZEN FOODS                    55
POULTRY                         54
HOME AND KITCHEN II             45
EGGS                            41
CELEBRATION                     31
LAWN AND GARDEN                 26
PREPARED FOODS                  26
LADIESWEAR                      21
LINGERIE                        20
AUTOMOTIVE                      20
BEAUTY                          19
PLAYERS AND ELECTRONICS         17
SCHOOL AND OFFICE SUPPLIES      15
GROCERY II                      14
PET SUPPLIES                    14
SEAFOOD                          8
MAGAZINES                        6
HARDWARE                         4
HOME APPLIANCES                  1
BABY CARE                        1
BOOKS                            1
Name: family, dtype: int64

In [17]:
items['class'].value_counts()

1016    133
1040    110
1124    100
1034     98
1122     81
1072     70
1032     65
1148     62
1120     61
3020     60
2302     59
1026     54
3106     53
1042     51
1030     51
1028     48
1114     42
3034     41
2006     41
1190     40
4126     40
1074     39
1004     39
1142     37
1126     36
2502     36
2420     36
3046     35
1144     35
2008     34
       ...
1018      1
6393      1
1336      1
6301      1
1380      1
6022      1
2024      1
4139      1
6230      1
6238      1
4255      1
6322      1
6426      1
2340      1
2412      1
2640      1
2784      1
2864      1
1005      1
1029      1
1041      1
3116      1
1089      1
1153      1
4140      1
2103      1
6233      1
4212      1
4228      1
6155      1
Name: class, Length: 337, dtype: int64

In [18]:
items.perishable.value_counts()

0    3114
1     986
Name: perishable, dtype: int64

In [19]:
items.groupby(['family', 'perishable']).count()

                                       item_nbr  class
family                     perishable
AUTOMOTIVE                 0                 20     20
BABY CARE                  0                  1      1
BEAUTY                     0                 19     19
BEVERAGES                  0                613    613
BOOKS                      0                  1      1
BREAD/BAKERY               1                134    134
CELEBRATION                0                 31     31
CLEANING                   0                446    446
DAIRY                      1                242    242
DELI                       1                 91     91
EGGS                       1                 41     41
FROZEN FOODS               0                 55     55
GROCERY I                  0               1334   1334
GROCERY II                 0                 14     14
HARDWARE                   0                  4      4
HOME AND KITCHEN I         0                 77     77
HOME AND KITCHEN II        0                 45     45
HOME APPLIANCES            0                  1      1
HOME CARE                  0                108    108
LADIESWEAR                 0                 21     21
LAWN AND GARDEN            0                 26     26
LINGERIE                   0                 20     20
LIQUOR,WINE,BEER           0                 73     73
MAGAZINES                  0                  6      6
MEATS                      1                 84     84
PERSONAL CARE              0                153    153
PET SUPPLIES               0                 14     14
PLAYERS AND ELECTRONICS    0                 17     17
POULTRY                    1                 54     54
PREPARED FOODS             1                 26     26
PRODUCE                    1                306    306
SCHOOL AND OFFICE SUPPLIES 0                 15     15
SEAFOOD                    1                  8      8

Perishability is only really for evaluation, we're not doing a whole lot else otherwise

## Oil Price

In [20]:
oil = pd.read_csv(OilPricePath, compression='gzip')

In [21]:
oil.head()

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

In [22]:
[oil.date.min(), oil.date.max()]

['2013-01-01', '2017-08-31']

In [23]:
plt.figure(figsize=(15,10))
plt.plot(oil.dcoilwtico)
# oil.plot(y='dcoilwtico', x='date');

## Holidays

In [24]:
holidays = pd.read_csv(HolidaysPath, compression='gzip')

In [31]:
holidays.head(100)

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False
5,2012-05-12,Holiday,Local,Puyo,Cantonizacion del Puyo,False
6,2012-06-23,Holiday,Local,Guaranda,Cantonizacion de Guaranda,False
7,2012-06-25,Holiday,Regional,Imbabura,Provincializacion de Imbabura,False
8,2012-06-25,Holiday,Local,Latacunga,Cantonizacion de Latacunga,False
9,2012-06-25,Holiday,Local,Machala,Fundacion de Machala,False
10,2012-07-03,Holiday,Local,Santo Domingo,Fundacion de Santo Domingo,False
11,2012-07-03,Holiday,Local,El Carmen,Cantonizacion de El Carmen,False
12,2012-07-23,Holiday,Local,Cayambe,Cantonizacion de Cayambe,False
13,2012-08-05,Holiday,Local,Esmeraldas,Fundacion de Esmeraldas,False
14,2012-08-10,Holiday,National,Ecuador,Primer Grito de Independencia,False
15,2012-08-15,Holiday,Local,Riobamba,Fundacion de Riobamba,False
16,2012-08-24,Holiday,Local,Ambato,Fundacion de Ambato,False
17,2012-09-28,Holiday,Local,Ibarra,Fundacion de Ibarra,False
18,2012-10-07,Holiday,Local,Quevedo,Cantonizacion de Quevedo,False
19,2012-10-09,Holiday,National,Ecuador,Independencia de Guayaquil,True
20,2012-10-12,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False
21,2012-11-02,Holiday,National,Ecuador,Dia de Difuntos,False
22,2012-11-03,Holiday,National,Ecuador,Independencia de Cuenca,False
23,2012-11-06,Holiday,Regional,Santo Domingo de los Tsachilas,Provincializacion de Santo Domingo,False
24,2012-11-07,Holiday,Regional,Santa Elena,Provincializacion Santa Elena,False
25,2012-11-10,Holiday,Local,Guaranda,Independencia de Guaranda,False
26,2012-11-11,Holiday,Local,Latacunga,Independencia de Latacunga,False
27,2012-11-12,Holiday,Local,Ambato,Independencia de Ambato,False
28,2012-12-05,Additional,Local,Quito,Fundacion de Quito-1,False
29,2012-12-06,Holiday,Local,Quito,Fundacion de Quito,False
...,...,...,...,...,...,...
70,2013-09-28,Holiday,Local,Ibarra,Fundacion de Ibarra,False
71,2013-10-07,Holiday,Local,Quevedo,Cantonizacion de Quevedo,False
72,2013-10-09,Holiday,National,Ecuador,Independencia de Guayaquil,True
73,2013-10-11,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False
74,2013-11-02,Holiday,National,Ecuador,Dia de Difuntos,False
75,2013-11-03,Holiday,National,Ecuador,Independencia de Cuenca,False
76,2013-11-06,Holiday,Regional,Santo Domingo de los Tsachilas,Provincializacion de Santo Domingo,False
77,2013-11-07,Holiday,Regional,Santa Elena,Provincializacion Santa Elena,False
78,2013-11-10,Holiday,Local,Guaranda,Independencia de Guaranda,False
79,2013-11-11,Holiday,Local,Latacunga,Independencia de Latacunga,False
80,2013-11-12,Holiday,Local,Ambato,Independencia de Ambato,False
81,2013-12-05,Additional,Local,Quito,Fundacion de Quito-1,False
82,2013-12-06,Holiday,Local,Quito,Fundacion de Quito,False
83,2013-12-08,Holiday,Local,Loja,Fundacion de Loja,False
84,2013-12-21,Additional,National,Ecuador,Navidad-4,False
85,2013-12-22,Additional,National,Ecuador,Navidad-3,False
86,2013-12-22,Holiday,Local,Salinas,Cantonizacion de Salinas,False
87,2013-12-23,Additional,National,Ecuador,Navidad-2,False
88,2013-12-24,Additional,National,Ecuador,Navidad-1,False
89,2013-12-25,Holiday,National,Ecuador,Navidad,False
90,2013-12-26,Additional,National,Ecuador,Navidad+1,False
91,2013-12-31,Additional,National,Ecuador,Primer dia del ano-1,False
92,2014-01-01,Holiday,National,Ecuador,Primer dia del ano,False
93,2014-03-02,Holiday,Local,Manta,Fundacion de Manta,False
94,2014-03-03,Holiday,National,Ecuador,Carnaval,False
95,2014-03-04,Holiday,National,Ecuador,Carnaval,False
96,2014-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
97,2014-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
98,2014-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
99,2014-04-18,Holiday,National,Ecuador,Viernes Santo,False

In [26]:
holidays.transferred.sum(), holidays.shape[0]

(12, 350)

## Transactions

In [27]:
transactions = pd.read_csv(Transactions, compression='gzip')

In [28]:
transactions.shape

(83488, 3)

In [29]:
transactions.head()

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

In [30]:
plt.figure(figsize=(15,10))
xs = np.linspace(1, transactions.shape[0], transactions.shape[0])
plt.scatter(transactions.date, transactions.transactions)
plt.

SyntaxError: invalid syntax (<ipython-input-30-73e61d20f0e6>, line 4)

In [ ]:
daily_total = transactions.groupby('date')['transactions'].sum()

In [ ]:
plt.figure(figsize=(15,10))
plt.plot(daily_total)

In [ ]:
plt.figure(figsize=(15,10))
plt.plot(daily_total[310:380])
plt.xticks(rotation=90)
plt.show();

There is a significant rise before Christmas, and trough on new years day

## Training Data

In [ ]:
train = pd.read_csv(TrainData, compression='gzip')

In [ ]:
train.shape

In [ ]:
train.head()